<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
Meu Projeto    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="foto do projeto" src="./assets/carine.png"/>
    <ion-card-header>
      <ion-card-title>Carteirinha</ion-card-title>
      <ion-card-subtitle>Carine Castro</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> Código de Turma: ADS0301N</ion-card-content>
  </ion-card>
</ion-content>
